body {
    margin: 0;
    line-height: 1.25;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: "Tahoma", Arial, Helvetica, sans-serif
}

.bullet-column {
    padding: 1.5rem;
    background-color: scale-color(#FFBF00, $lightness: 50%); // amber 50% lighter
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 25%);
}

.content-column {
    padding: 1.5rem;
}

section, h1, h2, h3 {
    margin: 1rem 0;
}

a {
    color: #304fdb; // adobe's complementary suggestion

    &:hover {
        color: #031c8f;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

ul {
    padding-left: 1rem;

    > li:not(:last-child) {
        // margin-bottom: 4px;
    }
}

dl {
    margin: 8px 0 0 0;

    > dd {
        margin: 0 0 8px 0;
    }
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between
    }
}

.mt-0 {
    margin-top: 0;
}
